@page
@model PizzaProjuct.Pages.Checkouts.CheckoutModel
@{
}
<div class="text-center">
    <h1>Thanks For ordering</h1>
    <p>Your order for @Model.pizzaName pizza of price @Model.price</p>
</div>"
