@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/css/images/20120303040901.jpg"></img>
    <br>
        <p> <a class="btn btn-primary mt-4" asp-area="" asp-page="Pizza">Order Pizza Online</a>.</p>

</div>
